<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'for_funsies/css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'for_funsies/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'for_funsies/css/index.css' %}">
        <title>Show Product</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h2>{{item_name}}</h2>
                    <a href="/dashboard">Home</a> | <a href="/logout">Logout</a>
            </div>
            <p>Users who added this product/item to their wish list:</p>
            {% for user in wished_by %}
                <ul>
                    <li>{{user.name}}</li>
                </ul>    
            {% endfor %}
            </form>
        </div>
    </body>
</html>